* {
  box-sizing: border-box;
}
#hero {
  position: relative;
}
#hero video {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}

#hero .content {
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  padding-top: 40px;
  top: 0;
  left: 0;
}
#A1:hover {
  text-decoration: underline;
}

#A2:hover {
  text-decoration: underline;
}

#A3:hover {
  text-decoration: underline;
}

#A4:hover {
  text-decoration: underline;
}

#A5:hover {
  text-decoration: underline;
}
/* welcome section */

.welcome {
  margin-top: 140px;
  margin-left: 200px;
  animation: 2s anim-lineUp ease-out infinite;
  animation-iteration-count: 1;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.welcome1 #msg {
  padding: 50px 70px;
}

.welcome1 #img1 {
  padding: 50px 70px;
}

#img {
  height: 350px;
  width: auto;
}

#msg img {
  float: right;
  height: 450px;
  width: 550px;
  padding-right: 50px;
}
/* cards section */

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}
.card img {
  max-width: 100%;
}
.cards {
  display: flex;
  position: absolute; /*absolute*/
  color: white;
  padding: 20px;
}
.card {
  margin: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.zoom:hover {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
/* section 2  */
.d1 {
  padding: 50px 70px;
  padding-top: 550px;
}

.discovery #globe {
  height: 800px;
  width: auto;
  z-index: -1;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.cont {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
